{%- assign image1 = section.settings.image1 | img_url: 'master' -%}
{%- assign image2 = section.settings.image2 | img_url: 'master' -%}
{%- assign image3 = section.settings.image3 | img_url: 'master' -%}
{%- assign image4 = section.settings.image4 | img_url: 'master' -%}
{%- assign image5 = section.settings.image5 | img_url: 'master' -%}
{%- assign image6 = section.settings.image6 | img_url: 'master' -%}
{%- if section.settings.image1 != blank
  and section.settings.image2 != blank
  and section.settings.image3 != blank
  and section.settings.image4 != blank
  and section.settings.image5 != blank
-%}
  <div class="container">
    <div class="column">
      <img src="{{image1}}" alt="{{section.settings.image1.alt}}">
    </div>
    <div class="column">
      <img src="{{image2}}" alt="{{section.settings.image2.alt}}">
      <img src="{{image3}}" alt="{{section.settings.image3.alt}}">
    </div>
    <div class="column">
      <img src="{{image4}}" alt="{{section.settings.image4.alt}}">
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Section name",
  "settings": [
       {
      "type": "image_picker",
      "id": "image1",
      "label": "image 1"
  },
  {
      "type": "image_picker",
      "id": "image2",
      "label": "image 2"
  },
  {
      "type": "image_picker",
      "id": "image3",
      "label": "image 3"
  },
  {
      "type": "image_picker",
      "id": "image4",
      "label": "image 4"
  }
  ],
    "presets": [
    {
      "category": "Image Grid",
      "name": "Image Grid"
    }
  ]
}
{% endschema %}
