{% comment %}
  This is a Shopify theme section called "Horizontal Tabs Product Description".
  It displays a section with horizontal tabs for different product descriptions.
{% endcomment %}
<div class="">
  <section class="horizontal-tabs-description">
    <div class="container">
      <div class="tab-container">
      <div class="color-scheme-4 ribbin-bg">
        <ul class="tab-navigation page-width">
      
          {% for block in section.blocks %}
            <li class="tab-item">
              <a href="#{{ block.id }}">{{ block.settings.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
        <div class="tab-content page-width">
          {% for block in section.blocks %}
            <div id="{{ block.id }}" class="tab-pane">
              {% if block.type == 'description' %}
                {{ product.description }}
                {% elsif block.type == 'benefits'  %}
                  <h3>{{block.settings.content-title}}</h3>
                  <span>{{block.settings.content-sub-title}}</span>
                  <div class="flex">
                  {%- for i in (1..4) -%}
                  <div>
                  {%- assign block_icon_id = 'icon-'{{i}} -%}
                  {%- assign block_text_id = 'icon-'{{i}}'-text' -%}
                  {%- assign block_icon = block.settings[block_icon] | img_url:'100x' -%}
                  {%- assign block_text = block.settings[block_text] -%}

                  <img src="{{block_icon}}">
                  <span>{{block_text}}</span>
                  </div>
                    
                  {%- endfor -%}

                  </div>
              {% else %}
                {{ block.settings.content }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var tabs = document.querySelectorAll('.tab-item a');
      tabs.forEach(function(tab) {
          tab.addEventListener('click', function(event) {
              event.preventDefault();
              var target = this.getAttribute('href').substring(1);
              var tabPanes = document.querySelectorAll('.tab-pane');
              var activeTab = document.getElementById(target);

              tabs.forEach(function(tab) {
                  tab.classList.remove('active');
              });

              tabPanes.forEach(function(pane) {
                  pane.style.display = 'none';
              });

              this.classList.add('active');
              activeTab.style.display = 'block';
          });
      });
  });
</script>
<style>
   .horizontal-tabs-description {
        width: 100%;
    }
.ribbin-bg{
background:var(--gradient-background);
}
    .tab-container {
        overflow: hidden;
    }

    .tab-navigation {
      display:flex;
        list-style: none;
        padding: 0;
    }

    .tab-item {
        display: inline-block;
        padding: 15px;
        line-height: 1;
        transition: all 0.3s;
    }

    .tab-item a {
      text-decoration: none;
      color: #fff;
    }
    .tab-item a.active,.tab-item a:hover {
      
       border-bottom:1px solid #fff;
    }

    .tab-content {
        clear: both;
        padding: 20px;
          max-height: 400px;
      overflow-y: scroll;
    }

    .tab-pane {
        display: none;
    }

    .tab-pane:first-child {
        display: block;
    }

    @media screen and (max-width: 480px) {
      .tab-navigation {
        display: flex;
        flex:1;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        border-bottom: none;
      }
      .tab-item {
        display:block;
        width:100%;
        margin-right: 0;
        border-bottom:1px solid #000;
      }

      .tab-content {
        flex:2;
          margin-top:0px !important;
          padding-top: 0;
      }

      .tab-pane {
          display: block;
      }
      .tab-pane > p {
          margin:0;
      }
  }
</style>
{% schema %}
{
  "name": "Product Description",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab Content"
        }
      ]
    },
    {
      "type": "description",
      "name": "description",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Tab Content"
        }
      ]
    },
    {
      "type": "benefits",
      "name": "benefits",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "text",
          "id": "content-title",
          "label": "Tab Content Title"
        },
        {
          "type": "text",
          "id": "content-sub-title",
          "label": "Tab Content Sub Title"
        },
        {
          "type": "image_picker",
          "id": "icon-1",
          "label": "icon 1"
        },
        {
          "type": "text",
          "id": "icon-1-text",
          "label": "Icon 1 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-2",
          "label": "icon 2"
        },
        {
          "type": "text",
          "id":"icon-2-text",
          "label": "Icon 2 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-3",
          "label": "icon 3"
        },
        {
          "type": "text",
          "id": "icon-3-text",
          "label": "Icon 3 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-4",
          "label": "icon 4"
        },
        {
          "type": "text",
          "id": "icon-4-text",
          "label": "Icon 4 Text"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Product Description",
      "category": "Products"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
