{% comment %}
  This is a Shopify theme section called "Horizontal Tabs Product Description".
  It displays a section with horizontal tabs for different product descriptions.
{% endcomment %}

<div class="">
  <section class="horizontal-tabs-description">
    <div class="container desktop-tab">
      <div class="tab-container">
        <div class="color-{{ section.settings.color_scheme }} gradient">
          <ul class="tab-navigation page-width">
            {% for block in section.blocks %}
              <li class="tab-item">
                <a href="#{{ block.id }}" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-content page-width">
          {% for block in section.blocks %}
            <div id="{{ block.id }}" class="{{ block.id }} tab-pane {% if block.type == 'benefits' %} tab-benefits{% endif %}">
              {% if block.type == 'description' %}
                {{ product.description }}
              {% elsif block.type == 'benefits' and block.settings['content-title'] != blank %}
                <h3>{{ block.settings['content-title'] }}</h3>
                <span>{{ block.settings['content-sub-title'] }}</span>
                <div class="benefits-container">
                  {%- for i in (1..4) -%}
                    <div class="icon-wrapper">
                      {%- assign block_icon_id = 'icon-' | append: i -%}
                      {%- assign block_text_id = 'icon-' | append: i | append: '-text' -%}
                      {%- assign block_icon = block.settings[block_icon_id] | img_url: '100x' -%}
                      {%- assign block_text = block.settings[block_text_id] -%}

                     <div class="img-wrapper"> <img src="{{block_icon}}"></div>
                      <span>{{ block_text }}</span>
                    </div>
                  {%- endfor -%}
                </div>
              {% else %}
                {{ block.settings.content }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container mobile-tab">
      <div class="tab-container">
        <div class="color-{{ section.settings.color_scheme }} gradient">
          <ul class="tab-navigation page-width">
            {% for block in section.blocks %}
              <li class="tab-item">
                <a href="#{{ block.id }}" class="{% if forloop.first %}active{% endif %}">{{ block.settings.title }}</a>
              </li>
              <div class="tab-content">
               <div id="{{ block.id }}" class="{{ block.id }} tab-pane {% if block.type == 'benefits' %} tab-benefits{% endif %}">
              {% if block.type == 'description' %}
                {{ product.description }}
              {% elsif block.type == 'benefits' and block.settings['content-title'] != blank %}
                <h3>{{ block.settings['content-title'] }}</h3>
                <span>{{ block.settings['content-sub-title'] }}</span>
                <div class="benefits-container">
                  {%- for i in (1..4) -%}
                    <div class="icon-wrapper">
                      {%- assign block_icon_id = 'icon-' | append: i -%}
                      {%- assign block_text_id = 'icon-' | append: i | append: '-text' -%}
                      {%- assign block_icon = block.settings[block_icon_id] | img_url: '100x' -%}
                      {%- assign block_text = block.settings[block_text_id] -%}

                     <div class="img-wrapper"> <img src="{{block_icon}}"></div>
                      <span>{{ block_text }}</span>
                    </div>
                  {%- endfor -%}
                </div>
              {% else %}
                {{ block.settings.content }}
              {% endif %}
            </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var tabs = document.querySelectorAll('.tab-item a');
      tabs.forEach(function(tab) {
          tab.addEventListener('click', function(event) {
              event.preventDefault();
              var target = this.getAttribute('href').substring(1);
              var tabPanes = document.querySelectorAll('.tab-pane');
              var activeTabs = document.querySelectorAll('.'+target);

              tabs.forEach(function(tab) {
                  tab.classList.remove('active');
              });

              tabPanes.forEach(function(pane) {
                  pane.style.display = 'none';
              });

              this.classList.add('active');
              activeTabs.forEach(function(tab) {
                alert(tab)
                  tab.style.display = 'block';
              });
          });
      });
  });
</script>
<style>

.tab-benefits {
    text-align: center;
}
.tab-benefits h3{
  margin:0;
}
.tab-benefits .icon-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.benefits-container {
    display: flex;
    margin-top:15px;
}

.tab-benefits .icon-wrapper img {
    max-width: 100%;
}

.horizontal-tabs-description {
    width: 100%;
}

.tab-container {
    overflow: hidden;
}

.tab-navigation {
    display: flex;
    list-style: none;
    padding: 0;
}

.tab-item {
    display: inline-block;
    padding: 15px;
    line-height: 1;
    transition: all 0.3s;
}

.tab-item a {
    text-decoration: none;
    color: #000;
}

.tab-item a.active,
.tab-item a:hover {
    border-bottom: 1px solid #000;
}

.tab-content {
    clear: both;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane:first-child {
    display: block;
}
@media (max-width:768px){
.benefits-container{
  flex-wrap:wrap;
}
.tab-benefits .icon-wrapper {
    flex-basis: 50%;
}
}
@media (min-width:481px){
    .mobile-tab{
    display:none;
  }
}
@media screen and (max-width: 480px) {
  .desktop-tab{
  display:none;
}
    .tab-navigation {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        border-bottom: none;
    }

    .tab-item {
        display: block;
        width: 100%;
        margin-right: 0;
        border-bottom: 1px solid #000;
    }

    .tab-content {
        flex: 2;
    }

    .tab-pane {
        display: block;
    }

    .tab-pane > p {
        margin: 0;
    }
}
</style>
{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab Content"
        }
      ]
    },
    {
      "type": "description",
      "name": "description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Tab Content"
        }
      ]
    },
    {
      "type": "benefits",
      "name": "benefits",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Tab Title"
        },
        {
          "type": "text",
          "id": "content-title",
          "label": "Tab Content Title"
        },
        {
          "type": "text",
          "id": "content-sub-title",
          "label": "Tab Content Sub Title"
        },
        {
          "type": "image_picker",
          "id": "icon-1",
          "label": "icon 1"
        },
        {
          "type": "text",
          "id": "icon-1-text",
          "label": "Icon 1 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-2",
          "label": "icon 2"
        },
        {
          "type": "text",
          "id":"icon-2-text",
          "label": "Icon 2 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-3",
          "label": "icon 3"
        },
        {
          "type": "text",
          "id": "icon-3-text",
          "label": "Icon 3 Text"
        },
        {
          "type": "image_picker",
          "id": "icon-4",
          "label": "icon 4"
        },
        {
          "type": "text",
          "id": "icon-4-text",
          "label": "Icon 4 Text"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Product Description",
      "category": "Products"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
